@datavillage-me:registry=https://npm.pkg.github.com
@pduchesne:registry=https://npm.pkg.github.com
engine-strict=true

# this is required for automatic deployment in heroku
# for local dev, do not forget to add an authentication token here or in your global env
# //npm.pkg.github.com/:_authToken=${DV_NPM_TOKEN}
