body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #636363;
  background-color: #f1f1f1;
}

.mainApp {
  height: 100vh;
  //width: 100%;
  //position: absolute;
}

.metawal-logo {
  height: 83px;
  width: 80px;
  background: url(https://metawal.wallonie.be/geonetwork/catalog/style/metawal/images/rw-sprite-icons.png) repeat scroll -413px -218px;
  float: left;
}

.fill {
  height: 100%;
  width: 100%;
  position: relative;
}

.hFlow {
  display: flex;
  flex-direction: row;

  & > * {
    flex: 1;
    min-width: 0;
    overflow: auto;
  }
}

.vFlow {
  display: flex;
  flex-direction: column;

  & > * {
    //height: inherit;
    flex: 1;
    //overflow: auto;
    min-height: 0;
  }

  .navbar {
    flex: none;
  }
}

.absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  overflow: auto;
}

.navbar {
  .MuiButton-contained {
    border-radius: 0;
   &.active {
     background-color: #74aec2;
   }
    &:hover {
      background-color: #74aec2;
    }
  }
}
